/*全体*/
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7EFE3;
    color: #2a2a2a;
}

/*ヘッダー*/
.headerNav{
    display: flex;
    gap: 208px;
    align-items: center;
    margin: 8px 0 8px 0;
    img{
        margin-left: 20px;
    }
    a{
        text-decoration: none;
        color: #2a2a2a;
    }
}

/*ラーメン説明部分*/
h1{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.noren{
    display: block;
    margin: auto;
}
.explanationWrap{
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    padding-left: 8px;
    h2{
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
    p{
        font-size: 10px;
    }
}
.explanationWrap.isActive{
    display: flex;
}
.textWrap{
    width: 65%;
    min-height: calc(1.6em * 5);}
.imgWrap{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*タブ*/
.tab{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #2D8075;
    button{
        font-size: 16px;
        background: transparent;
        width: 97px;
        height: 25px;
        border: 1px solid #2D8075;
        border-bottom: none;
        text-align: center;
        margin-left: 4px;
    }
    button:last-child{
        margin-left: none;
    }
    /*アクティブ状態のとき*/
    .isActive{
        background-color: #2D8075;
        color: #FFF;
    }
}

/*ラーメン診断誘導*/
.inductionWrap{
    width: 100%;
    height: 132px;
    background-color: #FFFDF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    button{
        width: 30%;
        background-color: #D6482F;
        color: #FFF;
        border-radius: 16px;
        border: none;
        padding: 6px 29px 5px 29px;
    }
}

/*絞り込みボタン*/
.narrowDown{
    display: block;
    margin-left: auto;
    background-color: #D6482F;
    color: #FFF;
    border: none;
    margin-top: 16px;
    padding: 5px 11px 6px 11px;
    text-align: center;
}

/*ラーメン詳細*/
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 24px;
}
.ramenItem{
    width: 48%;
    text-align: left;
    h4{
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
    }
}
